@import url(https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,300,400&display=swap);

@font-face {
  font-family: 'Satoshi',sans-serif;
  src: url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,300,400&display=swap');
}


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0;
  }
}
.down-arrow {
  animation: jumpInfinite 4s infinite;
}

/* .down-arrow:after {
  content: " ";
  position: absolute;
  top: 41px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 2px;
  transform: rotateZ(45deg);
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'Satoshi',sans-serif;
}

*::selection {
  @apply bg-teal-200/40;
}

::-webkit-scrollbar {
  /* height: 10px; */
  /* border-radius: 1px solid #d5d5d5; */
  @apply h-2 w-[8px] rounded-sm border-gray-100/20;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-purple-100 w-20;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-t from-violet-300 via-purple-400 to-purple-300 rounded-[4px];
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-purple-400;
}

.curve {
  position: absolute;
  background-image: url('../public/images/curve.png');
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}